SERVER_ADDR=:8000
SERVER_READ_TIMEOUT=5s
SERVER_WRITE_TIMEOUT=10s

WORKER_QUEUE_SIZE=5

# Telemetry
#   no telemetry - TELEMETRY_ENABLED=false
#   console output - to print telemetry data, set to TELEMETRY_ENABLED to true and leave TELEMETRY_COLLECTOR_URL empty
#   collector - to send data to collector, set to TELEMETRY_ENABLED=true and set TELEMETRY_COLLECTOR_URL endpoint
#
#   to test collector on your local set TELEMETRY_COLLECTOR_URL=localhost:4317 and run:
#        docker run --rm -p 4317:4317  otel/opentelemetry-collector-contrib:0.82.0
TELEMETRY_ENABLED=false
#TELEMETRY_COLLECTOR_URL=grpc://localhost:4317
TELEMETRY_SERVICE_NAME=foo-service
TELEMETRY_ENV=development

# google application credential is used by firebase and google cloud clients.
# https://firebase.google.com/docs/admin/setup#initialize-sdk
GOOGLE_APPLICATION_CREDENTIALS=./service-account.json

POSTGRES_URL=postgres://root:password@localhost:5432/root?sslmode=disable
POSTGRES_MAX_CONNS=4
POSTGRES_MAX_IDLE_TIME=1h
POSTGRES_MAX_LIFE_TIME=30m
